{
  "rules": {
    "@typescript-eslint/no-explicit-any": ["off"],
    "no-prototype-builtins": ["off"],
    "semi": ["error", "never"],
    "no-use-before-define": [0],
    "@typescript-eslint/no-use-before-define": [1],
    "@typescript-eslint/explicit-module-boundary-types": "off"
  },
  "extends": [
    "standard",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["prettier", "@typescript-eslint"]
}
